div.s{opacity: 100%; background-color: cadetblue;text-align: center;font-size: large;padding:15px}
    div.a{opacity:70%; background-color: cadetblue; text-align: center;font-size: large; padding:15px}
    div.o{opacity:55%;  background-color: cadetblue; text-align: center;font-size: large;padding:15px}
    div.n{opacity:20%;  background-color:cadetblue; text-align: center;font-size: large; padding:15px}