div.a{text-decoration: underline; color:blue;text;text-transform:capitalize;}  
     div.b{overflow: scroll;background-color: black;color: bisque;width:400px;height:120px;}
     div.c{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:red;font-size:20px;font-style:italic;}

  div.d{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  color:red;font-size:20px;font-style: italic;}