
div.a{position: absolute; 
    padding:10px; left: 2px;width:22px;height:10px;color: white;
z-index:auto; background-color: blueviolet;
border: 30px solid blueviolet; font-size: large;
}
div.b{position: absolute; 
    padding:10px; z-index:2; background-color:darkblue;
    top:33px;left:40px;width:22px;height:10px;
border: 30px solid darkblue; font-size: large;}

div.c{position: absolute; 
    padding:10px; z-index:2; background-color:hotpink;
    top:60px;left:66px;width:22px;height:10px;
border: 30px solid hotpink ; font-size: large;}

div.d{position: absolute; 
    padding:10px; z-index:2; background-color:aquamarine;
    top:88px;left:98px;width:22px;height:10px;
border: 30px solid aquamarine ; font-size: large;}

