.img1 {
    position: absolute;
     padding:10px;
     left: 10px;
     top:10px;
     color: white;
     z-index:100;
   }
   
   .img2 {
       position: absolute;
       padding:10px;
       left: 20px;
       top: 20px;
       color: white;
       z-index:50;
   }
   
   .img3 {
       position: absolute;
       padding:10px;
       left: 30px;
       top:30;
       color: white;
       z-index:12;
   }
   
   .img4{
       position: absolute;
       padding:10px;
       left: 40px;
       top: 40px;
       color: white;
       z-index:24;
   }