.a { display: flex; 
    background-color:cadetblue;
    color: white;
    width: 160px;height: 20px;
    margin: 20px;padding:20px;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
  }
 
 
