section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
p{
  background-color: darkslategray;
  width: 100px;
  height: 40px;
  border: 1px solid  darkslategray;
  border-radius: 2px;
  align-items: center;
  text-align: center;
  color:bisque;
  margin: 10px;
  box-shadow:  darkcyan 10px 10px 10px;}




 












