 body{
    background-image: url("https://t4.ftcdn.net/jpg/03/41/16/09/360_F_341160981_CFBrQpnDWWuMZqTpDPvOkHcdZeEikeXm.jpg");
  background-size: 150px;background-repeat: repeat-y;
}

.a{background-image: url("https://img.freepik.com/free-vector/minimal-desktop-background-white-abstract-design-vector_53876-135921.jpg");
background-size: 150px;background-repeat: repeat-x;}
