h1{color: red;font-family:Verdana, Geneva, Tahoma, sans-serif;}
h2{color:blue;font-family:sans-serif;}
img {
    border-radius: 50%;}

    .a{background-color: gray;border: 1px solid slategray;}
    .b{background-color:olive;border: 1px solid olive; width:1200px;}