.a{fill-opacity: initial;color:olivedrab;text-shadow:20px;font-size:90px;}
.b{text-decoration: underline; color:cornflowerblue;}
 #c{background-color: hotpink;color: black;}
 div{background-color:aquamarine}
 .d{color: red;}
 .e{color: blue;}
 .o{background-color: lightblue;text-align: center;}